body {font-family:Verdana, Arial, sans-serif; 
background-color: #00005D; 
} 
#wrapper { background-color: #b3c7e6; color: #000066; 
width: 80%; margin: auto; 
min-width: 850px; 
max-width: 1200px; 
}  
main {display: block; /* for Internet Explorer version 10 and below 
*/ 
padding: 3em; 
background-color: #ffffff; 
color: #000000; 
}  
header {background-color: #869dc7; 
color: #00005D;  
font-size: 150%;  
padding: 10px 10px 10px 30px; 
} 
h2 {color: #869dc7;  
font-family: arial, sans-serif; 
} 
#floatright {margin: 10px; 
float: right; 
} 
footer {font-size:70%; 
text-align: center; 
clear: right; 
padding-bottom:20px; 
}  
nav ul { list-style-type: none;} 
nav li {  display: inline; } 
nav a  { text-decoration: none;  
padding-right: 10px; } 